<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono&subset=greek,cyrillic"/>
        <script type="text/javascript" src="/static/assets/plugins/jquery/js/jquery.min.js"></script>
        <link rel="stylesheet" href="/static/assets/css/custom.css"/>
        <script src="/static/assets/js/custom.js"></script>
        <title>Checkout</title>
    </head>
<body>


<div class="root_container">
    <div class="header">
        <a class="homeImg_a" href="/">
            <img class="homeImg" src="/static/assets/images/bg-images/home.png"/>
            <h2 class="txt_center">Member and Guest Management System</h2>
        </a>             
    </div>

    <h1>Thanks {{entry.Customer.Name}}</h1>
    <h3>Start Time <span class="entry">{{entry.EntryTime}}</span></h3>
    <h3>End Time <span class="exit">{{entry.ExitTime}}</span></h3>

<style>

h1,h3 {
    text-align: center;
}
span.entry {
    color: green;
}
span.exit {
    color: red;
}
.footer {
        position: fixed;
    }
</style>




<script type="text/javascript">
    $(document).ready(function()
    {
        let url = `ws://${window.location.host}/ws/socket-server/`
        const chatSocket = new WebSocket(url)
        chatSocket.onmessage = function(e)
        {
            let data = JSON.parse(e.data)
            if(data.OtherMessage)
            {
                Toast("snackbar",data.OtherMessage)
            }
            else if(data.message)
            {
                Toast("snackbar",data.message)
            }     
        }
        chatSocket.onopen = function(e) {
            console.log('Connected!');
        };

        chatSocket.onclose = function(e) {
            // window.location.href = window.location.href;
            ToastWithoutHide("snackbar","You Lost The connection. Please Refreash",'#ff0000')
        };
    });




</script>








</div>

{% if request.user.is_superuser %}
    <div class="footer">
        <div class="root_container">
            <a href="/admin">Admin</a>
            <a href="/report">Report</a>
        </div>
    </div>
{% endif %}




</body>
</html>

