<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono&subset=greek,cyrillic"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" href="/static/assets/css/custom.css"/>
        <script src="/static/assets/js/custom.js"></script>
    </head>
<body>


<div class="root_container">
    <div class="header">
        <h2 class="txt_center">Member and Guest Management System</h2>
    </div>
 
    <img aria-colcount="img" src="/static/assets/images/bg-images/cardPunch.png" class="mem_img" />
    <h3 class="txt_center">Please Punch Your Card</h2>

<style>
    h3.txt_center {
        color: green;
    }
</style>



<script type="text/javascript">
    let url = `ws://${window.location.host}/ws/socket-server/`
    const chatSocket = new WebSocket(url)
    chatSocket.onmessage = function(e)
    {
        let data = JSON.parse(e.data)
        console.log('Data:', data)
        if(data.Redirect)
        {
            window.location.href = data.Redirect;
        }
        else if(data.message)
        {
            alert(data.message);
        }     
    }



</script>



</div>
</body>
</html>

