<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono&subset=greek,cyrillic"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" href="/static/assets/css/custom.css"/>
        <script src="/static/assets/js/custom.js"></script>
    </head>
<body>


<div class="root_container">
    <div class="header">
        <a class="homeImg_a" href="/">
            <img class="homeImg" src="/static/assets/images/bg-images/home.png"/>
        </a>     
        <h2 class="txt_center"> Member and Guest Management System</h2>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="contin_main">
            <div class=" contin">
                <div class="image_dv">
                    <img aria-colcount="img" src="{{person.Image.url}}" class="mem_img" />
                </div>        
            </div>    
            <div class="contin">
                <div class="infra">
                    <div class="info_lbl">Name:</div>
                    <div class="info">{{person.Name}}</div>
                </div>
                <div class="infra">
                    <div class="info_lbl">Membership Number:</div>
                    <div class="info">{{person.MemberNumber}}</div>
                </div>
                <div class="infra">
                    <div class="info_lbl">Category:</div>
                    <div class="info">{{ categorys }}</div>
                </div>
                <div class="infra">
                    <div class="info_lbl">Organisation:</div>
                    <div class="info">{{person.organisation}}</div>
                </div>
                <div class="infra">
                    <div class="info_lbl">Start Date:</div>
                    <div class="info">{{person.StartDate|date:'M d Y '}}</div>
                </div>

                <div class="infra">
                    <div class="info_lbl">Number of Guest In:</div>
                    <div class="info"><input min="0" minlength="1" maxlength="1" maxvalue="{{allow_guest_no}}" value="{{allow_guest_no}}" name="numberofGust" id="numberofGust" type="number"/></div>
                </div>

                <div class="infra">
                    <button type="button" id="add_guest">Add Guest</button>
                </div>
            </div>
        </div>


        <div class="Guest_details">
            <div class="contin_root">           
                <table >
                    <tr>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Card Number</th>
                        <th>Exit Time</th>
                        <th>ID Checked</th>
                    </tr>
                    <tbody id="existing">  
                        {% for ex in existing_guest.all %}
                            <tr  class="{% if ex.ExitTime %}gestexited {% else %} notexist {% endif %}">
                                <td>{{ ex.EntryTime|date:'M d Y H:i'  }}</td>
                                <td>{{ ex.Name }}</td>
                                <td>{{ ex.CardNumber }}</td>
                                <td>{{ ex.ExitTime|date:'M d Y H:i'  }}</td>
                                <td>
                                    {% if ex.IdChecked %}
                                        <img class="check" src="/static/assets/images/bg-images/checkbox_checked.png"/>                                       
                                    {% else %}
                                        <img class="uncheck" src="/static/assets/images/bg-images/unchecked_checkbox.png"/>
                                    {% endif %}
                                    
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tbody id="tblgust"></tbody>
                </table>
            </div>
            <button id="save_gust">Save</button>

        </div>

    </form>

<style>
</style>









<script type="text/javascript">
$(document).ready(function()
 {

    var currentnumber = 0;
    var maxvalue= $("#numberofGust").attr("maxvalue");
    let url = `ws://${window.location.host}/ws/socket-server/`
    const chatSocket = new WebSocket(url);
    chatSocket.onmessage = function(e)
    {
        let data = JSON.parse(e.data);
        console.log('Data:', data)
        if(data.UID)
        {
            var currentDate=GetCurrerntDate();
            $(".Guest_details").show();
            currentnumber+=1;
            if(currentnumber>maxvalue)
            {
                alert("Max Guest number Exceeded");
                return;
            }


            $("#numberofGust").val((currentnumber));            
            // html ='<tr> <td class="tddate">'+currentDate+'</td> <td class="tdname"><input id="text'+currentnumber+'" value="'+data.UID+'" name="text'+currentnumber+'" type="text"/></td><td></td>  <td class="tdcheck"><input id="check'+currentnumber+'" name="check'+currentnumber+'" type="checkbox"/></td> </tr>';
            html ='<tr> <td class="tddate">'+currentDate+'</td> <td class="tdname"><input id="text'+currentnumber+'" class="center" name="text'+currentnumber+'" type="text"/><td class="tdname"><input id="card'+currentnumber+'" class="center" value="'+data.UID+'"  name="card'+currentnumber+'" type="text"/></td><td></td>  <td class="tdcheck"><input id="check'+currentnumber+'" name="check'+currentnumber+'" type="checkbox"/></td> </tr>';

            $('tbody#tblgust').append(html);
            console.log('uid:', data.UID)
        }
    }








  $("button#add_guest").click(function()
  {
    var html='';
    var currentDate=GetCurrerntDate();
    var gustNumber= parseInt($("#numberofGust").val());
    if(gustNumber>0)
    {
        $(".Guest_details").show();
        for (let i = 1; i <= gustNumber; i++) 
        {
            html +='<tr> <td class="tddate">'+currentDate+'</td> <td class="tdname"><input id="text'+i+'" class="center" name="text'+i+'" type="text"/><td class="tdname"><input id="card'+i+'" class="center" name="card'+i+'" type="text"/></td><td></td>  <td class="tdcheck"><input id="check'+i+'" name="check'+i+'" type="checkbox"/></td> </tr>';
        }
        $('tbody#tblgust').empty();
        $('tbody#tblgust').append(html);
    }
    else
    {
        $(".Guest_details").hide();
    }
 });


$("#numberofGust").blur(function()
{
   
    var currentvalue= parseInt($(this).val());
    if(isNaN(currentvalue))
    {
        $(this).val(1);
    }
    else if(maxvalue<currentvalue)
    {
        $(this).val(maxvalue);
    }
    else if (currentvalue<=0)
    {
        $(this).val(1);
    }
});


function GetCurrerntDate()
{
    var d = new Date();
    const options = { month: "short" };

    var month = new Intl.DateTimeFormat("en-US", options).format(d);
    var day =(d.getDate()<10 ? '0' : '') + d.getDate();
    var year= d.getFullYear();
    var hour= (d.getHours()<10 ? '0' : '') +d.getHours();
    var mini= (d.getMinutes()<10 ? '0' : '') +d.getMinutes();
    var sec= (d.getSeconds()<10 ? '0' : '') +d.getSeconds();
    var output =   month+' '+day + ' ' +year+", "+hour + ":" + mini ;
    return output;
}

});


</script>

<style>
    input.center {
        text-align: center;
        font-size: 15px;
        font-weight: 700;
    }


</style>
</div>
</body>
</html>

